In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from env import get_connection
import os

In [17]:
def get_data():
    
    filename = 'cohorts.csv'
    
    if os.path.isfile(filename):
        
        print('found data')
        
        return pd.read_csv(filename)
    
    else:
        
        print('retrieving data')
        
        query = '''
                SELECT *
                FROM cohorts;
                '''
        
        url = get_connection('curriculum_logs')
        
        df = pd.read_sql(query, url)
        
        df.to_csv(filename, index = 0)
        
        return df

In [18]:
df2 = get_data()
df2.head()

found data

,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
1,2,Badlands,#badlands,2014-06-04,2014-08-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
2,3,Carlsbad,#carlsbad,2014-09-04,2014-11-05,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
3,4,Denali,#denali,2014-10-20,2015-01-18,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
4,5,Everglades,#everglades,2014-11-18,2015-02-24,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1

In [19]:
# Define column names
columns = ['timestamp', 'page', 'user_id', 'id', 'ip']

# Read the text data with the specified delimiter
df = pd.read_csv('anonymized.txt', delimiter=' ', names=columns)

In [20]:
df.head()

,timestamp,page,user_id,id,ip
2018-01-26,09:55:03,/,1,8.0,97.105.19.61
2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [26]:
df3 = pd.merge(df, df2, on = 'id')

df3.to_csv('merged.csv', index=False)
df3 = pd.read_csv('merged.csv')
df3.head()

,timestamp,page,user_id,id,ip,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
1,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
2,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
3,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
4,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847330 entries, 0 to 847329
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   timestamp   847330 non-null  object
 1   page        847329 non-null  object
 2   user_id     847330 non-null  int64
 3   id          847330 non-null  float64
 4   ip          847330 non-null  object
 5   name        847330 non-null  object
 6   slack       847330 non-null  object
 7   start_date  847330 non-null  object
 8   end_date    847330 non-null  object
 9   created_at  847330 non-null  object
 10  updated_at  847330 non-null  object
 11  deleted_at  0 non-null       float64
 12  program_id  847330 non-null  int64
dtypes: float64(2), int64(2), object(9)
memory usage: 84.0+ MB

In [29]:
df3.id.value_counts()

28.0     84031
33.0     40730
29.0     38096
62.0     37109
53.0     36902
24.0     35636
57.0     33844
56.0     33568
51.0     32888
59.0     32015
22.0     30926
58.0     29855
32.0     29356
23.0     28534
52.0     28033
26.0     27749
34.0     26538
25.0     25586
31.0     25359
132.0    23691
55.0     21582
27.0     20743
61.0     17713
134.0    16623
135.0    16397
133.0    14715
14.0      9587
1.0       8890
137.0     8562
21.0      7444
138.0     7276
17.0      4954
13.0      2845
18.0      2158
8.0       1712
139.0     1672
19.0      1237
16.0       755
15.0       691
7.0        598
12.0       302
11.0       253
2.0         93
6.0         72
9.0          5
4.0          4
5.0          1
Name: id, dtype: int64

In [30]:
len(df3.id.unique())

47

In [32]:
df3 = df3.drop(columns = ['deleted_at', 'slack', 'updated_at'])

In [33]:
df3.isna().sum()

timestamp     0
page          1
user_id       0
id            0
ip            0
name          0
start_date    0
end_date      0
created_at    0
program_id    0
dtype: int64

In [34]:
df3.program_id.value_counts()

2    713365
3    103412
1     30548
4         5
Name: program_id, dtype: int64

In [36]:
df3['program_name'] = df3['program_id'].replace({1: 'web_dev', 2: 'data_science', 3: 'cloud'})

In [39]:
df3 = df3.drop(columns = 'program_id')

In [40]:
df3.head()

,timestamp,page,user_id,id,ip,name,start_date,end_date,created_at,program_name
0,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
1,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
2,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
3,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
4,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev

In [ ]:
def plt_dist(df, feats, loop = False):
    
    if loop:
        
        for col in df.columns:

            plt.hist(df[col], bins = 50)

            plt.xlabel(f'{col.replace("_", " ").title()}')

            plt.ylabel('Count')

            plt.title(f'Distribution of {col.replace("_", " ").title()}')

            plt.show()
            
    else: 
        
        plt.hist(df[feats], bins = 50)

        plt.xlabel(f'{feats.replace("_", " ").title()}')

        plt.ylabel('Count')

        plt.title(f'Distribution of {feats.replace("_", " ").title()}')

        plt.show()

In [ ]:
plt_dist(df.sample(5_000), 'user_id', loop = True)

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [42]:
for i in df3.program_name.unique():
    
    c = df3[df3.program_name == i].groupby('page').count().sort_values('ip', ascending = False)
    
    print(c)

                     timestamp  user_id    id    ip  name  start_date  \
page
/                         1681     1681  1681  1681  1681        1681
index.html                1011     1011  1011  1011  1011        1011
javascript-i               736      736   736   736   736         736
html-css                   542      542   542   542   542         542
spring                     501      501   501   501   501         501
...                        ...      ...   ...   ...   ...         ...
interview-questions          1        1     1     1     1           1
13.5_Tableau                 1        1     1     1     1           1
interview                    1        1     1     1     1           1
html/forms                   1        1     1     1     1           1
4.5_imports                  1        1     1     1     1           1

                     end_date  created_at  program_name
page
/                        1681        1681          1681
index.html               1011        1011          1011
javascript-i              736         736           736
html-css                  542         542           542
spring                    501         501           501
...                       ...         ...           ...
interview-questions         1           1             1
13.5_Tableau                1           1             1
interview                   1           1             1
html/forms                  1           1             1
4.5_imports                 1           1             1

[710 rows x 9 columns]
                                                    timestamp  user_id     id  \
page
/                                                       35814    35814  35814
javascript-i                                            17457    17457  17457
toc                                                     17428    17428  17428
search/search_index.json                                15212    15212  15212
java-iii                                                12683    12683  12683
...                                                       ...      ...    ...
content/mysql/relationships/sub-queries.html                1        1      1
content/mysql/sample-database/gitbook/images/fa...          1        1      1
content/php_iii/classes-and-objects-i/construct...          1        1      1
content/php_iv/classes-and-objects-ii/late-stat...          1        1      1
wp-login                                                    1        1      1

                                                       ip   name  start_date  \
page
/                                                   35814  35814       35814
javascript-i                                        17457  17457       17457
toc                                                 17428  17428       17428
search/search_index.json                            15212  15212       15212
java-iii                                            12683  12683       12683
...                                                   ...    ...         ...
content/mysql/relationships/sub-queries.html            1      1           1
content/mysql/sample-database/gitbook/images/fa...      1      1           1
content/php_iii/classes-and-objects-i/construct...      1      1           1
content/php_iv/classes-and-objects-ii/late-stat...      1      1           1
wp-login                                                1      1           1

                                                    end_date  created_at  \
page
/                                                      35814       35814
javascript-i                                           17457       17457
toc                                                    17428       17428
search/search_index.json                               15212       15212
java-iii                                               12683       12683
...                                                      ...         ...
content/mysql/relationships/sub-queries.html               1           1
content/mysql/sample-database/gitbook/images/fa...         1           1
content/php_iii/classes-and-objects-i/construct...         1           1
content/php_iv/classes-and-objects-ii/late-stat...         1           1
wp-login                                                   1           1

                                                    program_name
page
/                                                          35814
javascript-i                                               17457
toc                                                        17428
search/search_index.json                                   15212
java-iii                                                   12683
...                                                          ...
content/mysql/relationships/sub-queries.html                   1
content/mysql/sample-database/gitbook/images/fa...             1
content/php_iii/classes-and-objects-i/construct...             1
content/php_iv/classes-and-objects-ii/late-stat...             1
wp-login                                                       1

[1913 rows x 9 columns]
                                             timestamp  user_id  id  ip  name  \
page
content/html-css                                     2        2   2   2     2
/                                                    1        1   1   1     1
content/html-css/gitbook/images/favicon.ico          1        1   1   1     1
content/html-css/introduction.html                   1        1   1   1     1

                                             start_date  end_date  created_at  \
page
content/html-css                                      2         2           2
/                                                     1         1           1
content/html-css/gitbook/images/favicon.ico           1         1           1
content/html-css/introduction.html                    1         1           1

                                             program_name
page
content/html-css                                        2
/                                                       1
content/html-css/gitbook/images/favicon.ico             1
content/html-css/introduction.html                      1
                                          timestamp  user_id    id    ip  \
page
/                                              8358     8358  8358  8358
search/search_index.json                       2203     2203  2203  2203
classification/overview                        1785     1785  1785  1785
1-fundamentals/modern-data-scientist.jpg       1655     1655  1655  1655
1-fundamentals/AI-ML-DL-timeline.jpg           1651     1651  1651  1651
...                                             ...      ...   ...   ...
cli/4-navigating-the-filesystem                   1        1     1     1
regression/project/null                           1        1     1     1
creating-charts                                   1        1     1     1
curie-statistics-assessment                       1        1     1     1
%20https://github.com/RaulCPena                   1        1     1     1

                                          name  start_date  end_date  \
page
/                                         8358        8358      8358
search/search_index.json                  2203        2203      2203
classification/overview                   1785        1785      1785
1-fundamentals/modern-data-scientist.jpg  1655        1655      1655
1-fundamentals/AI-ML-DL-timeline.jpg      1651        1651      1651
...                                        ...         ...       ...
cli/4-navigating-the-filesystem              1           1         1
regression/project/null                      1           1         1
creating-charts                              1           1         1
curie-statistics-assessment                  1           1         1
%20https://github.com/RaulCPena              1           1         1

                                          created_at  program_name
page
/                                               8358          8358
search/search_index.json                        2203          2203
classification/overview                         1785          1785
1-fundamentals/modern-data-scientist.jpg        1655          1655
1-fundamentals/AI-ML-DL-timeline.jpg            1651          1651
...                                              ...           ...
cli/4-navigating-the-filesystem                    1             1
regression/project/null                            1             1
creating-charts                                    1             1
curie-statistics-assessment                        1             1
%20https://github.com/RaulCPena                    1             1

[682 rows x 9 columns]

# 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

# 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

In [43]:
df3.head()

,timestamp,page,user_id,id,ip,name,start_date,end_date,created_at,program_name
0,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
1,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
2,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
3,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev
4,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,web_dev

In [45]:
user_activity = df3.groupby('user_id')['page'].count().reset_index()

# You can set a threshold for low activity, e.g., less than 5 page views
low_activity_users = user_activity[user_activity['page'] < 5]

In [46]:
df3.groupby('user_id')['page'].count().reset_index()

     user_id  page
0          1  7404
1          2  1541
2          3  1562
3          4   692
4          5  1701
..       ...   ...
906      977    86
907      978    55
908      979   127
909      980     3
910      981    42

[911 rows x 2 columns]